# .NET
bin/
obj/
*.user
*.suo
*.sln.docstates
*.userprefs
*.DotSettings.user
*.userosscache
.vs/
*.csproj.user

# ASP.NET
wwwroot/appsettings.*.json

# NuGet
packages/
*.nupkg
**/[Pp]ackages/*
!**/[Pp]ackages/build/

# VS Code
.vscode/

# Rider
.idea/

# OS
.DS_Store
Thumbs.db

# Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
build/
bld/
[Oo]bj/
[Ll]og/
[Ll]ogs/
